<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Queue Status</ion-title>
    
    <logout></logout>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Queue Status</h3>
  
  <ul id="breadcrumb">
    <li class="breadcrum-li"><a href="#"><ion-icon name="search"></ion-icon> Search</a></li>
    <li class="breadcrum-li"><a href="#"><ion-icon name="add-circle"></ion-icon> Added</a></li>
    <li class="breadcrum-li"><a href="#"><ion-icon name="cloud-download"></ion-icon> Downloaded</a></li>
    <li class="breadcrum-li"><a href="#"><ion-icon name="videocam"></ion-icon> Synced</a></li>
  </ul>
  
</ion-content>
