<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Plex Automation</h3>
  
  <ion-item>
    <ion-label floating>Search</ion-label>
    <ion-input type="text" [(ngModel)]="searchString"></ion-input>
  </ion-item>  
  
  <button ion-button full (click)="findMovies()">Find Movies</button>

  <div *ngIf="searchResults!=null">
    <ion-card *ngFor="let result of (searchResults | sortHome: true)">
      <div (click)="cardClicked(result.id)">
      <img [src]="'https://image.tmdb.org/t/p/w640/' + result.poster_path" *ngIf="result.poster_path != null">
      <!--<ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>-->

      <ion-item>
        <ion-icon name="videocam" item-left large></ion-icon>
        <h2>{{ result.original_title }}</h2>
        <p>{{ result.overview }}</p>
      </ion-item>

      <ion-item>
        <span item-left *ngIf="result.vote_average != null"><ion-icon name="star-half"></ion-icon> {{ result.vote_average | number : '1.2-2' }}</span>
        <span item-left *ngIf="result.popularity != null"><ion-icon name="trending-up"></ion-icon> {{ result.popularity | number : '1.2-2' }}</span>
        <span item-right *ngIf="result.release_date"><ion-icon name="calendar"></ion-icon> {{ result.release_date }}</span>
      </ion-item>
      </div>
    </ion-card>
  </div>
  <!--<ion-list *ngIf="searchResults != null">
    <button ion-item *ngFor="let result of searchResults">
      <ion-thumbnail item-left>
        <img [src]="'https://image.tmdb.org/t/p/w640/' + result.poster_path" *ngIf="result.poster_path != null">
      </ion-thumbnail>
      <h2>{{ result.original_title }}</h2>
      <p>{{ result.overview }}</p>
    </button>
  </ion-list>-->

</ion-content>
