<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <img src="assets/img/plexlogo.png"/>
    </ion-card>
  <form ng-submit="verifyAuth()">
    <ion-item>
      <ion-label floating>User Name</ion-label>
      <ion-input type="text" [(ngModel)]="userName" name="username"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>

    <button type="submit" ion-button full (click)="verifyAuth()" name="btnLogin">Login</button>
  </form>
</ion-content>
